{% extends "base.html" %}

{% block title %}{{name_restaurant}}{% endblock title %}


{% block content %}
    <h1 class="text-center">{{name_restaurant}}</h1><br>
    
    <div> 
        Японія — це країна, де традиції гармонійно поєднуються з сучасністю. 
        Земля сакури, гір Фудзі та неонових мегаполісів. 
        Тут витончена естетика простоти зустрічається з передовими технологіями, а кожна пора року має свою неповторну чарівність.

    </div>
    <br><br>
    <div> 
    Смак Японії у кожному шматочку! 🍣
    <div>
    <br><br>
    </div>
    Завітайте до Kazoku Sushi — де свіжість, майстерність і традиції створюють ідеальні суші.
    Роли, які тануть у роті, атмосферна музика та теплий сервіс чекають на вас щодня.
    </div>

{% endblock content %}